/*Turns on fonts*/
@font-face {
    src: url(Fonts/HammersmithOne-Regular.ttf);
    font-family: HammersmithOne;
}

@font-face {
    src: url(Fonts/PlayfairDisplay-Black.ttf);
    font-family: PlayfairDisplay;
    font-weight: 800;
}

@font-face {
    src: url(Fonts/PlayfairDisplay-Bold.ttf);
    font-family: PlayfairDisplay;
    font-weight: 700;
}

@font-face {
    src: url(Fonts/PlayfairDisplay-Regular.ttf);
    font-family: PlayfairDisplay;
    font-weight: 400;
}

@font-face {
    src: url(Fonts/Roboto-Black.ttf);
    font-family: Roboto;
    font-weight: 900;
}

@font-face {
    src: url(Fonts/Roboto-Light.ttf);
    font-family: Roboto;
    font-weight: 200;
}

@font-face {
    src: url(Fonts/Roboto-Thin.ttf);
    font-family: Roboto;
    font-weight: 100;
}

/*Total styles*/
body{
    font-family: Roboto;
    font-size: 14px;
}

.container{
    max-width: 940px;
    margin: 0 auto;

}

.sec_tit_wraper{
    text-align: center;
    position: relative;
    padding-bottom: 18px;
    margin-bottom: 47px;
}

.sec_tit_wraper::after{
    content: '';
    display: block;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 1px;
    background-color: #c6c4c9;
    position: absolute;
    bottom: -0;
}

.secondary_title{
    font-size: 22px;
    color: #413d4b;
    font-family: PlayfairDisplay;
    font-weight: 700;
    text-transform: uppercase;
}

.sec_tit_desc{
    font-family: PlayfairDisplay;
    color: #2f2d35;
    margin-top: 12px;
}

.sec_tit_white_wraper .secondary_title,
.sec_tit_white_wraper .sec_tit_desc{
    color: #fff;
}

.light{
    font-weight: 200;
    line-height: 24px;
    color: #413d4b;
}

.light_white{
    color: #ffffff;
}

.light_center{
    text-align: center;
}

.btn_wraper{
    text-align: center;
}

.btn{
    display: inline-block;
    padding: 15px;
    border: 1px solid #00e0d0;
    border-radius: 2px;
    color: #00e0d0;
    text-transform: uppercase;
    font-size: 16px;
    font-family: HammersmithOne;
    cursor: pointer;
}

.btn_wbg{
    background-color: #fff;
}


/*Styles for hat*/
.header{
    background: url(Images/header_background.jpg) no-repeat center / cover;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 150px;
}

.header_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.logo_text{
    color: #02decf;
    font-size: 30px;
    margin-left: 11px;
}

.menu{
    display: flex;
    
}

.menu_item{
    margin-left: 21px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 13px;
    color: #fff;
}

.m_i_active{
    color: #00e0d0;
}

.main_title{
    font-family: PlayfairDisplay;
    font-weight: 900;
    font-size: 32px;
    text-align: center;
    position: relative;
    margin-top: 163px;
    margin-bottom: 50px;
}
.main_title::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 52px;
    margin-left: -25px;
    display: block;
    width: 50px;
    height: 1px;
    background-color: #00e0d0;
}

.main_description{
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 300;
    max-width: 780px;
    line-height: 24px;
    color: #fff;
}

/*Story section*/
.story_wraper{
    display: flex;
    align-items: start;
    padding: 70px 0;
}

.str_img{
    margin-left: 65px;
    margin-right: 100px;
}

.story_wraper .secondary_title{
    margin-bottom: 25px;
}

.story_wraper .light{
    margin-bottom: 22px;
}

/*Video Section*/
.video_sec{
    background: url(Images/story_backgroung.jpg) no-repeat center / cover;
    padding: 100px 0;
}

.video{
    display: block;
    margin: 0 auto;
}

/*Expertise section*/
.exp_sec{
    padding: 70px 0 80px 0;
}

.exp_row{
    display: flex;
}

.exp_row:first-child{
    border-bottom: 1px solid #ebebeb;
}

.exp_block{
    padding: 39px 25px;
    text-align: center;
    border-right: 1px solid #ebebeb;
}

.exp_block:last-child{
    border-right: none;
}

.exp_block_img{
    height: 42px;
}

.exp_block_tit{
    font-weight: 900;
    margin-top: 38px;
    margin-bottom: 20px;
}

.exp_block_desc{
    color: #333333;
    line-height: 22px;
}

/*Team section*/
.team{
    background: url(Images/tem-background.jpg) no-repeat center / cover;
    padding: 70px 0;
}

.team_mem_wraper{
    display: flex;
    justify-content: space-between;
}

.team_mem_img{
    width: 220px;
    height: 229px;
    object-fit: cover;
    display: block;
}

.team_mem_i{
    border: 1px solid #7b788e;
    padding: 21px;
    text-align: center;
}

.team_mem_n{
    color: #ffffff;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 900;
    margin-bottom: 8px;
}

.team_mem_s{
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 200;
    font-size: 13px;
    color: #fafafa;
}
.team_t{
    margin: 70px 0 18px 0;
}

/*Works section*/
.works_sec{
    padding: 70px 0;
}

.works_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.work_l{
    display: flex;
    line-height: 13px;
}

.work_l::after{
    content: url(Images/arrow.png);
    display: block;
    margin-left: 10px;
}

.works_row_wraper{
    margin: 70px 0;
}

.works_row{
    display: flex;
}

.works_i{
    width: 16.6%;
}

.works_img{
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/*Quote section*/
.quote_sec{
    padding: 70px 0;
    background: url(Images/quote-background.jpg) no-repeat center / cover;
    color: #ffffff;
}

.quote_t{
    font-family: PlayfairDisplay;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    max-width: 780px;
    line-height: 26px;
    margin: 0 auto;
}

.quote_t::before{
    content: '“';
    line-height: 60px;
    font-size: 100px;
    display: block;
}

.quote_info{
    text-align: center;
    text-transform: uppercase;
    margin: 50px 0 40px 0;
}

.quote_a_n{
    font-weight: 900;
    margin-bottom: 8px;
}

.quote_a_s{
    font-weight: 300;
    font-size: 13px;
}

.quote_img_wraper{
    display: flex;
    align-items: center;
    max-width: 305px;
    justify-content: space-between;
    margin: 0 auto;
}

.quote_img{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.q_i_a{
    width: 70px;
    height: 70px;
}

/*Form section*/
.mas_sec{
    padding: 70px 0;
}

.mas_con{
    display: flex;
    justify-content: space-between;
}

.mas_form_wraper{
    width: 460px;
}

.mas_form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 35px;
}

.mas_f_in{
    border: 1px solid rgba(0, 0, 0, 0.102);
    padding: 17px 20px 16px 20px;
    font-weight: 300;
    font-size: 14px;
    resize: none;
    margin-bottom: 21px;
    width: 100%;
    box-sizing: border-box;
}

.mas_f_in::placeholder{
    color: rgba(65, 61, 75, 0.502);
}

.mas_f_in:focus{
    outline: none;
    border-color: #413d4b;
}

.mas_f_t{
    height: 200px;
    box-sizing: border-box;
}

.mas_sub{
    cursor: pointer;
    width: 120px;
    outline: none;
}

.mas_clients{
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mas_client_l{
    display: block;
    width: 160px;
    margin-top: 45px;
    text-align: center;
}

/*Footer styles*/
.footer{
    padding: 70px 0;
    background: url(Images/footer-background.jpg) no-repeat center / cover;
    color: #ffffff;
}

.footer_t{
    display: flex;
    justify-content: space-between;
}

.footer_desc_wraper{
    width: 290px;
}

.footer_desc{
    margin-top: 25px;
    line-height: 26px;
    font-weight: 300;
}

.footer_head{
    font-family: Roboto;
    font-weight: 900;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 39px;
}

.footer_f{
    display: flex;
}

.footer_info{
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 15px;
    padding-left: 30px;
    position: relative;
}

.footer_info::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 4px;
    background-repeat: no-repeat;
}

.footer_a::before{
    width: 14px;
    height: 19px;
    background-image: url(Images/footer-icon-adress.png);

}

.footer_p::before{
    width: 17px;
    height: 18px;
    background-image: url(Images/footer-icon-phone.png);
}

.footer_f_t{
    border: 1px solid rgba(255, 255, 255, 0.502);
    background-color: rgba(0, 0, 0, 0);
    padding: 17px 15px;
    outline: none;
    font-weight: 300;
}

.footer_f_t::placeholder{
    font-weight: 300;
    color: rgba(255, 255, 255, 0.749);
}

.footer_f_s{
    position: relative;
    margin-left: 10px;
    width: 68px;
    background-color: rgba(255, 255, 255, 0.502);
    border: none;
    position: relative;
    cursor: pointer;
}

.footer_f_s::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(Images/footer-icon-sub.png) no-repeat center;
}

.footer_menu{
    display: flex;
    text-transform: uppercase;
}

.footer_b{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.footer_m_i{
    margin-right: 30px;
}

.footer_m_i a{
    color: #ffffff;
}