@font-face {
    src: url(Fonts/HammersmithOne-Regular.ttf);
    font-family: HammersmithOne;
}

@font-face {
    src: url(Fonts/PlayfairDisplay-Black.ttf);
    font-family: PlayfairDisplay;
    font-weight: 800;
}

@font-face {
    src: url(Fonts/PlayfairDisplay-Bold.ttf);
    font-family: PlayfairDisplay;
    font-weight: 700;
}

@font-face {
    src: url(Fonts/PlayfairDisplay-Regular.ttf);
    font-family: PlayfairDisplay;
    font-weight: 400;
}

@font-face {
    src: url(Fonts/Roboto-Black.ttf);
    font-family: Roboto;
    font-weight: 800;
}

@font-face {
    src: url(Fonts/Roboto-Light.ttf);
    font-family: Roboto;
    font-weight: 200;
}

@font-face {
    src: url(Fonts/Roboto-Thin.ttf);
    font-family: Roboto;
    font-weight: 100;
}