@font-face {
    src: url(Fonts/HammersmithOne-Regular.ttf);
    font-family: HammersmithOne;
}

@font-face {
    src: url(Fonts/PlayfairDisplay-Black.ttf);
    font-family: PlayfairDisplayBlack;
    font-weight: 800;
}

@font-face {
    src: url(Fonts/PlayfairDisplay-Bold.ttf);
    font-family: PlayfairDisplayBold;
    font-weight: 700;
}

@font-face {
    src: url(Fonts/PlayfairDisplay-Regular.ttf);
    font-family: PlayfairDisplayRegular;
    font-weight: 400;
}

@font-face {
    src: url(Fonts/Roboto-Black.ttf);
    font-family: RobotoBlack;
    font-weight: 900;
}

@font-face {
    src: url(Fonts/Roboto-Light.ttf);
    font-family: RobotoLight;
    font-weight: 200;
}

@font-face {
    src: url(Fonts/Roboto-Thin.ttf);
    font-family: RobotoThin;
    font-weight: 100;
}

.container{
    width: 940px;
    margin: 0 auto;
}

.header{
    height: 500px;
    background: url(Images/header_background.jpg);
}